app/about.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="株式会社クラヴィスは、それぞれ得意分野を持つメンバー達が集まって立ち上げた札幌の会社です。さまざまなスキルを持ったメンバーが、クライアントの様々な課題解決に取り組み、最適なソリューションをワンストップで提供します。">
        <meta name="keywords" content="clanweiss,クラヴィス,EC-CUBE,CMS,札幌">
        <meta name="author" content="">
        <meta property="og:title" content="クラヴィスについて | 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://clanweiss.co.jp/">
        <meta property="og:image" content="https://clanweiss.co.jp/img/og-img.png">
        <meta property="og:site_name" content="株式会社クラヴィス">
        <meta property="og:description" content="株式会社クラヴィスは、それぞれ得意分野を持つメンバー達が集まって立ち上げた札幌の会社です。さまざまなスキルを持ったメンバーが、クライアントの様々な課題解決に取り組み、最適なソリューションをワンストップで提供します。">
        <meta property="fb:app_id" content="任意のID">
    <title>クラヴィスについて | 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/favicon.ico">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-59943088-1', 'auto');
        ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div class="loader">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    <div class="wrapper">
      <div class="overlay overlay-scale">
        <nav class="sp-nav">
          <ul>
            <li><a href="./">TOP</a></li>
            <li><a href="about.html">ABOUT US</a></li>
            <li><a href="service.html">SERVICE</a></li>
            <li><a href="works.html">WORKS</a></li>
            <li><a href="contact.html">CONTACT</a></li>
          </ul>
        </nav>
      </div>
      <div class="sp-nav-btn-block"><a class="sp-nav-btn" href="#"><span class="sp-nav-btn-icon"></span></a></div>
      <header class="header header-fixed">
        <div class="section-inner header-inner">
          <h1 class="header-logo"><a href="./"><img src="img/header-logomark.svg" alt="株式会社クラヴィス CLANWEISS"></a></h1>
          <nav class="g-nav">
            <ul>
              <li><a href="about.html">ABOUT US</a></li>
              <li><a href="service.html">SERVICE</a></li>
              <li><a href="works.html">WORKS</a></li>
              <li><a href="contact.html">CONTACT</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <header class="header anim-fade-in">
        <div class="section-inner header-inner">
          <h1 class="header-logo"><a href="./"><img class="img" src="img/header-logo.svg" alt="株式会社クラヴィス CLANWEISS"></a></h1>
          <nav class="g-nav">
            <ul>
              <li><a href="about.html">ABOUT US</a></li>
              <li><a href="service.html">SERVICE</a></li>
              <li><a href="works.html">WORKS</a></li>
              <li><a href="contact.html">CONTACT</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <main>
        <section class="page-visual visual-about">
          <div class="page-ttl-wrap">
            <h2 class="page-ttl">ABOUT US</h2>
            <h2 class="page-subttl">クラヴィスについて</h2>
          </div>
        </section>
        <section class="section section-border section-page">
          <div class="section-inner">
            <p class="section-entry">クラヴィスは、長年にわたりフリーとして様々な案件に関わってきたメンバーや、大規模システム開発に中心として関わってきたメンバーが仲間となって真っ白なキャンパスからスタートしようという思いでスタートした企業です。<br><br>システム開発、Webディレクション、デザイン・・・さまざまなスキルを持ったメンバーが、クライアントの様々な課題解決に取り組み、最適なソリューションをワンストップで提供することを目的としています。</p><img class="fluid-img" src="img/about-img01.png">
          </div>
        </section>
        <section class="section section-page">
          <div class="section-inner">
            <div class="company">
              <h2 class="company-ttl">COMPANY</h2>
              <h2 class="company-subttl">会社概要</h2>
              <table class="company-tbl">
                <tr>
                  <th>社名</th>
                  <td>株式会社クラヴィス／Clanweiss Co Ltd,</td>
                </tr>
                <tr>
                  <th>代表者</th>
                  <td>代表取締役　佐藤 大樹</td>
                </tr>
                <tr>
                  <th>所在地</th>
                  <td>〒060−0001<br>札幌市中央区北1条西7丁目1-15 あおいビル 7F</td>
                </tr>
                <tr>
                  <th>設立</th>
                  <td>2014年12月</td>
                </tr>
                <tr>
                  <th>従業員数</th>
                  <td>8名（2015年6月現在）</td>
                </tr>
                <tr>
                  <th>主要事業</th>
                  <td>
                    <ul>
                      <li>Webシステム開発</li>
                      <li>Webサイト制作／CMS開発</li>
                      <li>グラフィックデザイン／イラスト制作／DTP</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th>主要取引先</th>
                  <td>
                    ディーアンドデパートメント株式会社／五反田電子商事株式会社／株式会社コンテンツブレイン／
                    株式会社インストーリー／株式会社フライブリッジ／株式会社NTTデータ・イントラマートCSI
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d728.7603755150442!2d141.34584687923845!3d43.06159467853476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f0b299bfe5f9e5b%3A0xb787a423c937fa75!2z44CSMDYwLTAwMDEg5YyX5rW36YGT5pyt5bmM5biC5Lit5aSu5Yy65YyX77yR5p2h6KW_77yX5LiB55uuIOOBguOBiuOBhOODk-ODqw!5e0!3m2!1sja!2sjp!4v1467211800202" width="600" height="450" frameborder="0" style="border:0;pointer-events:none" allowfullscreen></iframe>
          </div><a class="google-maps-link" href="https://goo.gl/maps/xMsaXxeENQF2" target="_blank">Google Mapで開く</a>
        </section>
      </main>
      <footer class="footer">
        <div class="section-inner footer-inner">
          <div class="footer-logo"><img src="img/footer-logo.svg"></div>
          <dl>
            <dt class="footer-company-name">株式会社クラヴィス</dt>
            <dd class="footer-company-addr">〒060-0001 札幌市中央区北1条西7丁目 あおいビル 7F<br>TEL 011-211-5440
              <div class="footer-sns"><a class="fb" href="https://www.facebook.com/%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE%E3%82%AF%E3%83%A9%E3%83%B4%E3%82%A3%E3%82%B9-539014726301635/"><img src="img/icon-fb.svg"></a></div>
            </dd>
          </dl><a class="pagetop" href="#"><img src="img/arrow-top.svg"></a>
          <p class="copyright">&copy; CLANWEISS Co Ltd,All Right Reserved.</p>
        </div>
      </footer>
    </div>
    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
    <script src="js/common.js"></script>
  </body>
</html>

app/pug/about.pug
extends _layout
block var
  - metas = {}
  - metas.title = 'クラヴィスについて | 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社'
block append meta
  +meta(metas)
  include _inc_meta_fb
  +inc_meta_facebook(metas)
block title
  title クラヴィスについて | 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社
block body
  main
    section.page-visual.visual-about
      .page-ttl-wrap
        h2.page-ttl ABOUT US
        h2.page-subttl クラヴィスについて
    section.section.section-border.section-page
      .section-inner
        p.section-entry
          | クラヴィスは、長年にわたりフリーとして様々な案件に関わってきたメンバーや、大規模システム開発に中心として関わってきたメンバーが仲間となって真っ白なキャンパスからスタートしようという思いでスタートした企業です。
          br
          br
          | システム開発、Webディレクション、デザイン・・・さまざまなスキルを持ったメンバーが、クライアントの様々な課題解決に取り組み、最適なソリューションをワンストップで提供することを目的としています。
        img.fluid-img(src="img/about-img01.png")
    section.section.section-page
      .section-inner
        .company
          h2.company-ttl COMPANY
          h2.company-subttl 会社概要
          table.company-tbl
            tr
              th 社名
              td 株式会社クラヴィス／Clanweiss Co Ltd,
            tr
              th 代表者
              td 代表取締役　佐藤 大樹
            tr
              th 所在地
              td
                | 〒060−0001
                br
                | 札幌市中央区北1条西7丁目1-15 あおいビル 7F
            tr
              th 設立
              td 2014年12月
            tr
              th 従業員数
              td 8名（2015年6月現在）
            tr
              th 主要事業
              td
                ul
                  li Webシステム開発
                  li Webサイト制作／CMS開発
                  li グラフィックデザイン／イラスト制作／DTP
            tr
              th 主要取引先
              td
                | ディーアンドデパートメント株式会社／五反田電子商事株式会社／株式会社コンテンツブレイン／
                | 株式会社インストーリー／株式会社フライブリッジ／株式会社NTTデータ・イントラマートCSI
      .google-maps
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d728.7603755150442!2d141.34584687923845!3d43.06159467853476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f0b299bfe5f9e5b%3A0xb787a423c937fa75!2z44CSMDYwLTAwMDEg5YyX5rW36YGT5pyt5bmM5biC5Lit5aSu5Yy65YyX77yR5p2h6KW_77yX5LiB55uuIOOBguOBiuOBhOODk-ODqw!5e0!3m2!1sja!2sjp!4v1467211800202" width="600" height="450" frameborder="0" style="border:0;pointer-events:none;" allowfullscreen)
      a.google-maps-link(href="https://goo.gl/maps/xMsaXxeENQF2" target="_blank") Google Mapで開く
