app/contact.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="株式会社クラヴィスは、それぞれ得意分野を持つメンバー達が集まって立ち上げた札幌の会社です。さまざまなスキルを持ったメンバーが、クライアントの様々な課題解決に取り組み、最適なソリューションをワンストップで提供します。">
        <meta name="keywords" content="clanweiss,クラヴィス,EC-CUBE,CMS,札幌">
        <meta name="author" content="">
        <meta property="og:title" content="お問い合わせ | 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://clanweiss.co.jp/">
        <meta property="og:image" content="https://clanweiss.co.jp/img/og-img.png">
        <meta property="og:site_name" content="株式会社クラヴィス">
        <meta property="og:description" content="株式会社クラヴィスは、それぞれ得意分野を持つメンバー達が集まって立ち上げた札幌の会社です。さまざまなスキルを持ったメンバーが、クライアントの様々な課題解決に取り組み、最適なソリューションをワンストップで提供します。">
        <meta property="fb:app_id" content="任意のID">
    <title>お問い合わせ | 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/favicon.ico">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-59943088-1', 'auto');
        ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div class="loader">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    <div class="wrapper">
      <div class="overlay overlay-scale">
        <nav class="sp-nav">
          <ul>
            <li><a href="./">TOP</a></li>
            <li><a href="about.html">ABOUT US</a></li>
            <li><a href="service.html">SERVICE</a></li>
            <li><a href="works.html">WORKS</a></li>
            <li><a href="contact.html">CONTACT</a></li>
          </ul>
        </nav>
      </div>
      <div class="sp-nav-btn-block"><a class="sp-nav-btn" href="#"><span class="sp-nav-btn-icon"></span></a></div>
      <header class="header header-fixed">
        <div class="section-inner header-inner">
          <h1 class="header-logo"><a href="./"><img src="img/header-logomark.svg" alt="株式会社クラヴィス CLANWEISS"></a></h1>
          <nav class="g-nav">
            <ul>
              <li><a href="about.html">ABOUT US</a></li>
              <li><a href="service.html">SERVICE</a></li>
              <li><a href="works.html">WORKS</a></li>
              <li><a href="contact.html">CONTACT</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <header class="header anim-fade-in">
        <div class="section-inner header-inner">
          <h1 class="header-logo"><a href="./"><img class="img" src="img/header-logo.svg" alt="株式会社クラヴィス CLANWEISS"></a></h1>
          <nav class="g-nav">
            <ul>
              <li><a href="about.html">ABOUT US</a></li>
              <li><a href="service.html">SERVICE</a></li>
              <li><a href="works.html">WORKS</a></li>
              <li><a href="contact.html">CONTACT</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <main>
        <section class="page-visual visual-contact">
          <div class="page-ttl-wrap">
            <h2 class="page-ttl">CONTACT</h2>
            <h2 class="page-subttl">お問い合わせ</h2>
          </div>
        </section>
        <section class="section section-page">
          <div class="section-inner">
            <p>お仕事のご依頼やご相談、弊社ご説明はこちらからお問い合わせください。</p>
            <form class="form-contact" onsubmit="return false;">
              <table>
                <tr>
                  <th>お名前<span>NAME</span></th>
                  <td>
                    <input id="name" name="name" type="text" placeholder="お名前をご記入ください（必須）" required>
                  </td>
                </tr>
                <tr>
                  <th>メールアドレス<span>MAIL ADDRESS</span></th>
                  <td>
                    <div class="error-msg">メールアドレスを入力してください。</div>
                    <input id="mail" name="mail" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,3}$" placeholder="メールアドレスをご記入ください（必須）" required>
                  </td>
                </tr>
                <tr>
                  <th>お問い合わせ内容<span>MESSAGE</span></th>
                  <td>
                    <div class="error-msg">お問い合わせ内容を入力してください。</div>
                    <textarea id="contents" name="contents" placeholder="本文をご記入ください（必須）" required></textarea>
                  </td>
                </tr>
              </table>
              <button class="btn-dark btn-large" onclick="uploadFile();">内容を送信する</button>
            </form>
          </div>
        </section>
      </main>
      <footer class="footer">
        <div class="section-inner footer-inner">
          <div class="footer-logo"><img src="img/footer-logo.svg"></div>
          <dl>
            <dt class="footer-company-name">株式会社クラヴィス</dt>
            <dd class="footer-company-addr">〒060-0001 札幌市中央区北1条西7丁目 あおいビル 7F<br>TEL 011-211-5440
              <div class="footer-sns"><a class="fb" href="https://www.facebook.com/%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE%E3%82%AF%E3%83%A9%E3%83%B4%E3%82%A3%E3%82%B9-539014726301635/"><img src="img/icon-fb.svg"></a></div>
            </dd>
          </dl><a class="pagetop" href="#"><img src="img/arrow-top.svg"></a>
          <p class="copyright">&copy; CLANWEISS Co Ltd,All Right Reserved.</p>
        </div>
      </footer>
    </div>
    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/aws-sdk.min.js"></script>
    <script>
      var $id = function(id) { return document.getElementById(id); };
      AWS.config.region = "ap-northeast-1";
      AWS.config.credentials = new AWS.CognitoIdentityCredentials({IdentityPoolId: "ap-northeast-1:6ca18f56-7d19-43d0-8205-8ef8351b0231"});
      AWS.config.credentials.get(function(err) {
        if (!err) {
          //console.log("Cognito Identify Id: " + AWS.config.credentials.identityId);
        }
      });
      function uploadFile() {
        if ($("#name").is(':invalid')
          || $("#mail").is(':invalid')
          || $("#contents").is(':invalid')) {
          return false;
        }
        var now = new Date();
        var obj = {"Name":$id("name").value, "mail":$id("mail").value ,"contents":$id("contents").value, "date": now.toLocaleString()};
        AWS.config.region = 'ap-northeast-1';
        var s3BucketName = "clanweiss.co.jp";
        var s3 = new AWS.S3({params: {Bucket: s3BucketName}});
        var blob = new Blob([JSON.stringify(obj, null, 2)], {type:'text/plain'});
        s3.putObject({Key: "uploads/" +now.getTime()+".txt", ContentType: "text/plain", Body: blob, ACL: "public-read"},
          function(err, data){
            if(data !== null){
                alert("お問い合わせ完了致しました");
            }
            else{
              alert("送信に失敗しました");
              //alert("Upload Failed" + err.message);
              }
          });
      }
    </script>
  </body>
</html>

app/pug/contact.pug
extends _layout
block var
  - metas = {}
  - metas.title = 'お問い合わせ | 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社'
block append meta
  +meta(metas)
  include _inc_meta_fb
  +inc_meta_facebook(metas)
block title
  title お問い合わせ | 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社
block body
  main
    section.page-visual.visual-contact
      .page-ttl-wrap
        h2.page-ttl CONTACT
        h2.page-subttl お問い合わせ
    section.section.section-page
      .section-inner
        p お仕事のご依頼やご相談、弊社ご説明はこちらからお問い合わせください。
        form.form-contact(onsubmit="return false;")
          table
            tr
              th お名前
                span NAME
              td
                input(id="name" name="name" type="text" placeholder="お名前をご記入ください（必須）" required)
            tr
              th メールアドレス
                span MAIL ADDRESS
              td
                div.error-msg メールアドレスを入力してください。
                input(id="mail" name="mail" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="メールアドレスをご記入ください（必須）" required)
            tr
              th お問い合わせ内容
                span MESSAGE
              td
                div.error-msg お問い合わせ内容を入力してください。
                textarea(id="contents" name="contents" placeholder="本文をご記入ください（必須）" required)
          button.btn-dark.btn-large(onclick="uploadFile();") 内容を送信する
block append end_of_body
  script(src="js/aws-sdk.min.js")
  script.
    var $id = function(id) { return document.getElementById(id); };
    AWS.config.region = "ap-northeast-1";
    AWS.config.credentials = new AWS.CognitoIdentityCredentials({IdentityPoolId: "ap-northeast-1:6ca18f56-7d19-43d0-8205-8ef8351b0231"});
    AWS.config.credentials.get(function(err) {
      if (!err) {
        //console.log("Cognito Identify Id: " + AWS.config.credentials.identityId);
      }
    });
    function uploadFile() {
      if ($("#name").is(':invalid')
        || $("#mail").is(':invalid')
        || $("#contents").is(':invalid')) {
        return false;
      }
      var now = new Date();
      var obj = {"Name":$id("name").value, "mail":$id("mail").value ,"contents":$id("contents").value, "date": now.toLocaleString()};
      AWS.config.region = 'ap-northeast-1';
      var s3BucketName = "clanweiss.co.jp";
      var s3 = new AWS.S3({params: {Bucket: s3BucketName}});
      var blob = new Blob([JSON.stringify(obj, null, 2)], {type:'text/plain'});
      s3.putObject({Key: "uploads/" +now.getTime()+".txt", ContentType: "text/plain", Body: blob, ACL: "public-read"},
        function(err, data){
          if(data !== null){
              alert("お問い合わせ完了致しました");
          }
          else{
            alert("送信に失敗しました");
            //alert("Upload Failed" + err.message);
            }
        });
    }
