app/pug/index.pug
extends _layout
block var
  - metas = {}
  - metas.title = '株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社'
  - bodyClass = "index"
block append meta
  +meta(metas)
  include _inc_meta_fb
  +inc_meta_facebook(metas)
block title
  title 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社
block body
  section.top-visual
    .section-inner
      .copy
        h2.copy-ttl.anim-copy-ttl
          span One
          span Stop
          span Solution
        p.copy-text.anim-copy-text
          | 株式会社クラヴィスは、それぞれ得意分野を持つメンバー達が集まって立ち上げた札幌の会社です。
          br
          | さまざまなスキルを持ったメンバーが、クライアントの様々な課題解決に取り組み、
          br
          | 最適なソリューションをワンストップで提供します。
        span.anim-fade-in
          a.btn.btn-arrow(href="about.html") ABOUT US
  main
    section.section
      .section-inner
        h2.section-ttl SERVICE
        h2.section-subttl クラヴィスができること
        ul.service-list
          li.service-item.service-devlopment
            span.service-item-icon
              img(src="img/icon-develop.svg" width="40")
            span.line
            h3.service-item-ttl 開発・制作
            p.service-item-subttl DEVELOPMENT
            p.service-item-text
              | WEBサイトやECサイトの制作から業務システム
              br
              | 開発まで幅広く対応いたします。Wordpressなど
              br
              | 各種CMSカスタマイズも対応可能です。
          li.service-item.service-contstruction
            span.service-item-icon
              img(src="img/icon-contstruction.svg" width="40")
            span.line
            h3.service-item-ttl 構築・運用
            p.service-item-subttl CONTSTRUCTION
            p.service-item-text
              | レンタルサーバーからAmazon Web Services
              br
              | (AWS)などのクラウドサーバー・運用まで、各種サーバー・ネットワーク構築に対応します。
          li.service-item.service-design
            span.service-item-icon
              img(src="img/icon-design.svg" height="40")
            span.line
            h3.service-item-ttl デザイン
            p.service-item-subttl DESIGN
            p.service-item-text
              | ロゴ制作から、商品・サービスカタログ、会社概要の制作など、デザインに関わる業務を幅広く対応します。
        a.btn-dark.btn-arrow-dark(href="service.html") DETAIL
    section.section.section-bg-light
      .section-inner
        h2.section-ttl WORKS
        h2.section-subttl 制作実績
        ul.works-list
          li.works-item
            a(href="work01.html")
              .works-item-img
                img(src="img/works-item03.jpg")
              .works-item-data
                h3.works-item-caption 株式会社インストーリー 様
                span Derection / Design / Coding
          li.works-item
            a(href="work02.html")
              .works-item-img
                img(src="img/works-item02.jpg")
              .works-item-data
                h3.works-item-caption 株式会社アイディエーション 様
                span Design
          li.works-item
            a(href="work03.html")
              .works-item-img
                img(src="img/works-item01.jpg")
              .works-item-data
                h3.works-item-caption ディアンドデパートメント株式会社 様
                span Derection / Coding
          li.works-item
            a(href="work04.html")
              .works-item-img
                img(src="img/works-item04.jpg")
              .works-item-data
                h3.works-item-caption 株式会社NTTデータ・イントラマートCSI 様
                span Design
        a.btn-dark.btn-arrow-dark(href="works.html") MORE
    section.section.section-bg-logomark
      .section-inner
        h2.section-ttl NEWS
        h2.section-subttl ニュース
        .news-list
          dl.news-item
            dt.news-item-date: time 2016.8.1
            dd.news-item-text 自社コーポレートサイトをリニューアルしました。
    section.section.section-bg-contact
      .section-inner
        h2.section-ttl.section-ttl-white CONTACT
        h2.section-subttl.section-subttl-white お問い合わせ
        .contact
          p.contact-text お仕事のご依頼やご相談、弊社ご説明はこちらからお問い合わせください。
          a.btn-contact.btn-arrow-contact(href="contact.html") CONTACT

app/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="株式会社クラヴィスは、それぞれ得意分野を持つメンバー達が集まって立ち上げた札幌の会社です。さまざまなスキルを持ったメンバーが、クライアントの様々な課題解決に取り組み、最適なソリューションをワンストップで提供します。">
        <meta name="keywords" content="clanweiss,クラヴィス,EC-CUBE,CMS,札幌">
        <meta name="author" content="">
        <meta property="og:title" content="株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://clanweiss.co.jp/">
        <meta property="og:image" content="https://clanweiss.co.jp/img/og-img.png">
        <meta property="og:site_name" content="株式会社クラヴィス">
        <meta property="og:description" content="株式会社クラヴィスは、それぞれ得意分野を持つメンバー達が集まって立ち上げた札幌の会社です。さまざまなスキルを持ったメンバーが、クライアントの様々な課題解決に取り組み、最適なソリューションをワンストップで提供します。">
        <meta property="fb:app_id" content="任意のID">
    <title>株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/favicon.ico">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-59943088-1', 'auto');
        ga('send', 'pageview');
    </script>
  </head>
  <body class="index">
    <div class="loader">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    <div class="wrapper">
      <div class="overlay overlay-scale">
        <nav class="sp-nav">
          <ul>
            <li><a href="./">TOP</a></li>
            <li><a href="about.html">ABOUT US</a></li>
            <li><a href="service.html">SERVICE</a></li>
            <li><a href="works.html">WORKS</a></li>
            <li><a href="contact.html">CONTACT</a></li>
          </ul>
        </nav>
      </div>
      <div class="sp-nav-btn-block"><a class="sp-nav-btn" href="#"><span class="sp-nav-btn-icon"></span></a></div>
      <header class="header header-fixed">
        <div class="section-inner header-inner">
          <h1 class="header-logo"><a href="./"><img src="img/header-logomark.svg" alt="株式会社クラヴィス CLANWEISS"></a></h1>
          <nav class="g-nav">
            <ul>
              <li><a href="about.html">ABOUT US</a></li>
              <li><a href="service.html">SERVICE</a></li>
              <li><a href="works.html">WORKS</a></li>
              <li><a href="contact.html">CONTACT</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <header class="header anim-fade-in">
        <div class="section-inner header-inner">
          <h1 class="header-logo"><a href="./"><img class="img" src="img/header-logo.svg" alt="株式会社クラヴィス CLANWEISS"></a></h1>
          <nav class="g-nav">
            <ul>
              <li><a href="about.html">ABOUT US</a></li>
              <li><a href="service.html">SERVICE</a></li>
              <li><a href="works.html">WORKS</a></li>
              <li><a href="contact.html">CONTACT</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <section class="top-visual">
        <div class="section-inner">
          <div class="copy">
            <h2 class="copy-ttl anim-copy-ttl"><span>One</span><span>Stop</span><span>Solution</span></h2>
            <p class="copy-text anim-copy-text">株式会社クラヴィスは、それぞれ得意分野を持つメンバー達が集まって立ち上げた札幌の会社です。<br>さまざまなスキルを持ったメンバーが、クライアントの様々な課題解決に取り組み、<br>最適なソリューションをワンストップで提供します。</p><span class="anim-fade-in"><a class="btn btn-arrow" href="about.html">ABOUT US</a></span>
          </div>
        </div>
      </section>
      <main>
        <section class="section">
          <div class="section-inner">
            <h2 class="section-ttl">SERVICE</h2>
            <h2 class="section-subttl">クラヴィスができること</h2>
            <ul class="service-list">
              <li class="service-item service-devlopment"><span class="service-item-icon"><img src="img/icon-develop.svg" width="40"></span><span class="line"></span>
                <h3 class="service-item-ttl">開発・制作</h3>
                <p class="service-item-subttl">DEVELOPMENT</p>
                <p class="service-item-text">WEBサイトやECサイトの制作から業務システム<br>開発まで幅広く対応いたします。Wordpressなど<br>各種CMSカスタマイズも対応可能です。</p>
              </li>
              <li class="service-item service-contstruction"><span class="service-item-icon"><img src="img/icon-contstruction.svg" width="40"></span><span class="line"></span>
                <h3 class="service-item-ttl">構築・運用</h3>
                <p class="service-item-subttl">CONTSTRUCTION</p>
                <p class="service-item-text">レンタルサーバーからAmazon Web Services<br>(AWS)などのクラウドサーバー・運用まで、各種サーバー・ネットワーク構築に対応します。</p>
              </li>
              <li class="service-item service-design"><span class="service-item-icon"><img src="img/icon-design.svg" height="40"></span><span class="line"></span>
                <h3 class="service-item-ttl">デザイン</h3>
                <p class="service-item-subttl">DESIGN</p>
                <p class="service-item-text">ロゴ制作から、商品・サービスカタログ、会社概要の制作など、デザインに関わる業務を幅広く対応します。</p>
              </li>
            </ul><a class="btn-dark btn-arrow-dark" href="service.html">DETAIL</a>
          </div>
        </section>
        <section class="section section-bg-light">
          <div class="section-inner">
            <h2 class="section-ttl">WORKS</h2>
            <h2 class="section-subttl">制作実績</h2>
            <ul class="works-list">
              <li class="works-item"><a href="work01.html">
                  <div class="works-item-img"><img src="img/works-item03.jpg"></div>
                  <div class="works-item-data">
                    <h3 class="works-item-caption">株式会社インストーリー 様</h3><span>Derection / Design / Coding</span>
                  </div></a></li>
              <li class="works-item"><a href="work02.html">
                  <div class="works-item-img"><img src="img/works-item02.jpg"></div>
                  <div class="works-item-data">
                    <h3 class="works-item-caption">株式会社アイディエーション 様</h3><span>Design</span>
                  </div></a></li>
              <li class="works-item"><a href="work03.html">
                  <div class="works-item-img"><img src="img/works-item01.jpg"></div>
                  <div class="works-item-data">
                    <h3 class="works-item-caption">ディアンドデパートメント株式会社 様</h3><span>Derection / Coding</span>
                  </div></a></li>
              <li class="works-item"><a href="work04.html">
                  <div class="works-item-img"><img src="img/works-item04.jpg"></div>
                  <div class="works-item-data">
                    <h3 class="works-item-caption">株式会社NTTデータ・イントラマートCSI 様</h3><span>Design</span>
                  </div></a></li>
            </ul><a class="btn-dark btn-arrow-dark" href="works.html">MORE</a>
          </div>
        </section>
        <section class="section section-bg-logomark">
          <div class="section-inner">
            <h2 class="section-ttl">NEWS</h2>
            <h2 class="section-subttl">ニュース</h2>
            <div class="news-list">
              <dl class="news-item">
                <dt class="news-item-date">
                  <time>2016.8.1</time>
                </dt>
                <dd class="news-item-text">自社コーポレートサイトをリニューアルしました。</dd>
              </dl>
            </div>
          </div>
        </section>
        <section class="section section-bg-contact">
          <div class="section-inner">
            <h2 class="section-ttl section-ttl-white">CONTACT</h2>
            <h2 class="section-subttl section-subttl-white">お問い合わせ</h2>
            <div class="contact">
              <p class="contact-text">お仕事のご依頼やご相談、弊社ご説明はこちらからお問い合わせください。</p><a class="btn-contact btn-arrow-contact" href="contact.html">CONTACT</a>
            </div>
          </div>
        </section>
      </main>
      <footer class="footer">
        <div class="section-inner footer-inner">
          <div class="footer-logo"><img src="img/footer-logo.svg"></div>
          <dl>
            <dt class="footer-company-name">株式会社クラヴィス</dt>
            <dd class="footer-company-addr">〒060-0001 札幌市中央区北1条西7丁目 あおいビル 7F<br>TEL 011-211-5440
              <div class="footer-sns"><a class="fb" href="https://www.facebook.com/%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE%E3%82%AF%E3%83%A9%E3%83%B4%E3%82%A3%E3%82%B9-539014726301635/"><img src="img/icon-fb.svg"></a></div>
            </dd>
          </dl><a class="pagetop" href="#"><img src="img/arrow-top.svg"></a>
          <p class="copyright">&copy; CLANWEISS Co Ltd,All Right Reserved.</p>
        </div>
      </footer>
    </div>
    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
    <script src="js/common.js"></script>
  </body>
</html>
