app/pug/service.pug
extends _layout
block var
  - metas = {}
  - metas.title = 'クラヴィスができること | 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社'
block append meta
  +meta(metas)
  include _inc_meta_fb
  +inc_meta_facebook(metas)
block title
  title クラヴィスができること | 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社
block body
  main
    section.page-visual.visual-service
      .page-ttl-wrap
        h2.page-ttl SERVICE
        h2.page-subttl クラヴィスができること
    section.section.section-page
      .section-inner
        p
          | 株式会社クラヴィスは、それぞれ得意分野を持つメンバー達が集まって立ち上げた札幌の会社です。
          br
          | IT事業の開発、構築及びコンサルティング等、IT関連事業をトータルにサポートいたします。
        ul.service-links
          li.link-devlopment(data-target="development") 開発・制作
          li.link-contstruction(data-target="contstruction") 構築・運用
          li.link-design(data-target="design") デザイン
    section
      .visual-service-detail.visual-service-development
        h3.service-category-ttl 開発・制作
        h3.service-category-subttl DEVLOPMENT
      .section-inner
        ul.service-details
          li.service-detail-item
            h4
              img.service-detail-icon(src="img/icon-service01_01.svg")
              | WEBシステム開発
            p JAVA、PHP、Rubyなどを利用したWebシステム開発全般に対応します。動的なWebサイトの開発から、業務システム開発まで幅広く対応することが可能です。
          li.service-detail-item
            h4.twoline
              img.service-detail-icon(src="img/icon-service01_02.svg")
              | WEBサイト制作／
              br
              | CMSカスタマイズ
            p Webデザインからコーディングまでワンストップで対応します。Wordpress、MovableType、Drupal、Concrete5など各種CMSカスタマイズも対応可能です。
          li.service-detail-item
            h4
              img.service-detail-icon(src="img/icon-service01_03.svg")
              | ECサイト制作
            p EC-CUBEを始めとする各種ECパッケージのカスタマイズやASPサービスのカスタマイズ、テンプレートデザインなど、ECに関わる各種デザイン、開発に対応します。
      .visual-service-detail.visual-service-contstruction
        h3.service-category-ttl 構築・運用
        h3.service-category-subttl CONTSTRUCTION
      .section-inner
        ul.service-details.is-two-items
          li.service-detail-item
            h4
              img.service-detail-icon(src="img/icon-service02_01.svg")
              | サーバー構築
            p Amazon Web Services（AWS）からレンタルサーバなどのクラウドサーバ構築まで各種サーバ／ネットワーク構築に対応します。
          li.service-detail-item
            h4
              img.service-detail-icon(src="img/icon-service02_02.svg")
              | システム運用
            p お客様の運用業務の効率化のご提案やシステムの監視・運用・保守対応を一括してサポートいたします。
      .visual-service-detail.visual-service-design
        h3.service-category-ttl デザイン
        h3.service-category-subttl DESIGN
      .section-inner
        ul.service-details.is-two-items
          li.service-detail-item
            h4
              img.service-detail-icon(src="img/icon-service03_01.svg")
              | グラフィックデザイン
            p ロゴ制作や、キャラクターデザイン、DMなどデザインに関わるクリエイティブな業務に対応します。
          li.service-detail-item
            h4
              img.service-detail-icon(src="img/icon-service03_02.svg")
              | DTP
            p 商品・サービスカタログ、会社概要の制作など、様々な媒体の印刷デザインを制作いたします。

app/service.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="株式会社クラヴィスは、それぞれ得意分野を持つメンバー達が集まって立ち上げた札幌の会社です。さまざまなスキルを持ったメンバーが、クライアントの様々な課題解決に取り組み、最適なソリューションをワンストップで提供します。">
        <meta name="keywords" content="clanweiss,クラヴィス,EC-CUBE,CMS,札幌">
        <meta name="author" content="">
        <meta property="og:title" content="クラヴィスができること | 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://clanweiss.co.jp/">
        <meta property="og:image" content="https://clanweiss.co.jp/img/og-img.png">
        <meta property="og:site_name" content="株式会社クラヴィス">
        <meta property="og:description" content="株式会社クラヴィスは、それぞれ得意分野を持つメンバー達が集まって立ち上げた札幌の会社です。さまざまなスキルを持ったメンバーが、クライアントの様々な課題解決に取り組み、最適なソリューションをワンストップで提供します。">
        <meta property="fb:app_id" content="任意のID">
    <title>クラヴィスができること | 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/favicon.ico">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-59943088-1', 'auto');
        ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div class="loader">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    <div class="wrapper">
      <div class="overlay overlay-scale">
        <nav class="sp-nav">
          <ul>
            <li><a href="./">TOP</a></li>
            <li><a href="about.html">ABOUT US</a></li>
            <li><a href="service.html">SERVICE</a></li>
            <li><a href="works.html">WORKS</a></li>
            <li><a href="contact.html">CONTACT</a></li>
          </ul>
        </nav>
      </div>
      <div class="sp-nav-btn-block"><a class="sp-nav-btn" href="#"><span class="sp-nav-btn-icon"></span></a></div>
      <header class="header header-fixed">
        <div class="section-inner header-inner">
          <h1 class="header-logo"><a href="./"><img src="img/header-logomark.svg" alt="株式会社クラヴィス CLANWEISS"></a></h1>
          <nav class="g-nav">
            <ul>
              <li><a href="about.html">ABOUT US</a></li>
              <li><a href="service.html">SERVICE</a></li>
              <li><a href="works.html">WORKS</a></li>
              <li><a href="contact.html">CONTACT</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <header class="header anim-fade-in">
        <div class="section-inner header-inner">
          <h1 class="header-logo"><a href="./"><img class="img" src="img/header-logo.svg" alt="株式会社クラヴィス CLANWEISS"></a></h1>
          <nav class="g-nav">
            <ul>
              <li><a href="about.html">ABOUT US</a></li>
              <li><a href="service.html">SERVICE</a></li>
              <li><a href="works.html">WORKS</a></li>
              <li><a href="contact.html">CONTACT</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <main>
        <section class="page-visual visual-service">
          <div class="page-ttl-wrap">
            <h2 class="page-ttl">SERVICE</h2>
            <h2 class="page-subttl">クラヴィスができること</h2>
          </div>
        </section>
        <section class="section section-page">
          <div class="section-inner">
            <p>株式会社クラヴィスは、それぞれ得意分野を持つメンバー達が集まって立ち上げた札幌の会社です。<br>IT事業の開発、構築及びコンサルティング等、IT関連事業をトータルにサポートいたします。</p>
            <ul class="service-links">
              <li class="link-devlopment" data-target="development">開発・制作</li>
              <li class="link-contstruction" data-target="contstruction">構築・運用</li>
              <li class="link-design" data-target="design">デザイン</li>
            </ul>
          </div>
        </section>
        <section>
          <div class="visual-service-detail visual-service-development">
            <h3 class="service-category-ttl">開発・制作</h3>
            <h3 class="service-category-subttl">DEVLOPMENT</h3>
          </div>
          <div class="section-inner">
            <ul class="service-details">
              <li class="service-detail-item">
                <h4><img class="service-detail-icon" src="img/icon-service01_01.svg">WEBシステム開発</h4>
                <p>JAVA、PHP、Rubyなどを利用したWebシステム開発全般に対応します。動的なWebサイトの開発から、業務システム開発まで幅広く対応することが可能です。</p>
              </li>
              <li class="service-detail-item">
                <h4 class="twoline"><img class="service-detail-icon" src="img/icon-service01_02.svg">WEBサイト制作／<br>CMSカスタマイズ</h4>
                <p>Webデザインからコーディングまでワンストップで対応します。Wordpress、MovableType、Drupal、Concrete5など各種CMSカスタマイズも対応可能です。</p>
              </li>
              <li class="service-detail-item">
                <h4><img class="service-detail-icon" src="img/icon-service01_03.svg">ECサイト制作</h4>
                <p>EC-CUBEを始めとする各種ECパッケージのカスタマイズやASPサービスのカスタマイズ、テンプレートデザインなど、ECに関わる各種デザイン、開発に対応します。</p>
              </li>
            </ul>
          </div>
          <div class="visual-service-detail visual-service-contstruction">
            <h3 class="service-category-ttl">構築・運用</h3>
            <h3 class="service-category-subttl">CONTSTRUCTION</h3>
          </div>
          <div class="section-inner">
            <ul class="service-details is-two-items">
              <li class="service-detail-item">
                <h4><img class="service-detail-icon" src="img/icon-service02_01.svg">サーバー構築</h4>
                <p>Amazon Web Services（AWS）からレンタルサーバなどのクラウドサーバ構築まで各種サーバ／ネットワーク構築に対応します。</p>
              </li>
              <li class="service-detail-item">
                <h4><img class="service-detail-icon" src="img/icon-service02_02.svg">システム運用</h4>
                <p>お客様の運用業務の効率化のご提案やシステムの監視・運用・保守対応を一括してサポートいたします。</p>
              </li>
            </ul>
          </div>
          <div class="visual-service-detail visual-service-design">
            <h3 class="service-category-ttl">デザイン</h3>
            <h3 class="service-category-subttl">DESIGN</h3>
          </div>
          <div class="section-inner">
            <ul class="service-details is-two-items">
              <li class="service-detail-item">
                <h4><img class="service-detail-icon" src="img/icon-service03_01.svg">グラフィックデザイン</h4>
                <p>ロゴ制作や、キャラクターデザイン、DMなどデザインに関わるクリエイティブな業務に対応します。</p>
              </li>
              <li class="service-detail-item">
                <h4><img class="service-detail-icon" src="img/icon-service03_02.svg">DTP</h4>
                <p>商品・サービスカタログ、会社概要の制作など、様々な媒体の印刷デザインを制作いたします。</p>
              </li>
            </ul>
          </div>
        </section>
      </main>
      <footer class="footer">
        <div class="section-inner footer-inner">
          <div class="footer-logo"><img src="img/footer-logo.svg"></div>
          <dl>
            <dt class="footer-company-name">株式会社クラヴィス</dt>
            <dd class="footer-company-addr">〒060-0001 札幌市中央区北1条西7丁目 あおいビル 7F<br>TEL 011-211-5440
              <div class="footer-sns"><a class="fb" href="https://www.facebook.com/%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE%E3%82%AF%E3%83%A9%E3%83%B4%E3%82%A3%E3%82%B9-539014726301635/"><img src="img/icon-fb.svg"></a></div>
            </dd>
          </dl><a class="pagetop" href="#"><img src="img/arrow-top.svg"></a>
          <p class="copyright">&copy; CLANWEISS Co Ltd,All Right Reserved.</p>
        </div>
      </footer>
    </div>
    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
    <script src="js/common.js"></script>
  </body>
</html>
