app/pug/works.pug
extends _layout
block var
  - metas = {}
  - metas.title = '制作実績 | 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社'
block append meta
  +meta(metas)
  include _inc_meta_fb
  +inc_meta_facebook(metas)
block title
  title 制作実績 | 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社
block body
  main
    section.page-visual.visual-works
      .page-ttl-wrap
        h2.page-ttl WORKS
        h2.page-subttl 制作実績
    section.section.section-page
      .section-inner
        p この他にも実績がございますのでCONTACTからお気軽にお問い合わせください。
    section.section.section-bg-light
      .section-inner
        ul.works-list
          li.works-item
            a(href="work01.html")
              .works-item-img
                img(src="img/works-item03.jpg")
              .works-item-data
                h3.works-item-caption 株式会社インストーリー 様
                span Direction / Design / Coding
          li.works-item
            a(href="work02.html")
              .works-item-img
                img(src="img/works-item02.jpg")
              .works-item-data
                h3.works-item-caption 株式会社アイディエーション 様
                span Design
          li.works-item
            a(href="work03.html")
              .works-item-img
                img(src="img/works-item01.jpg")
              .works-item-data
                h3.works-item-caption ディアンドデパートメント株式会社 様
                span Direction / Coding
          li.works-item
            a(href="work04.html")
              .works-item-img
                img(src="img/works-item04.jpg")
              .works-item-data
                h3.works-item-caption 株式会社NTTデータ・イントラマートCSI 様
                span Design / Coding / CMS

app/works.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="株式会社クラヴィスは、それぞれ得意分野を持つメンバー達が集まって立ち上げた札幌の会社です。さまざまなスキルを持ったメンバーが、クライアントの様々な課題解決に取り組み、最適なソリューションをワンストップで提供します。">
        <meta name="keywords" content="clanweiss,クラヴィス,EC-CUBE,CMS,札幌">
        <meta name="author" content="">
        <meta property="og:title" content="制作実績 | 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://clanweiss.co.jp/">
        <meta property="og:image" content="https://clanweiss.co.jp/img/og-img.png">
        <meta property="og:site_name" content="株式会社クラヴィス">
        <meta property="og:description" content="株式会社クラヴィスは、それぞれ得意分野を持つメンバー達が集まって立ち上げた札幌の会社です。さまざまなスキルを持ったメンバーが、クライアントの様々な課題解決に取り組み、最適なソリューションをワンストップで提供します。">
        <meta property="fb:app_id" content="任意のID">
    <title>制作実績 | 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/favicon.ico">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-59943088-1', 'auto');
        ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div class="loader">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    <div class="wrapper">
      <div class="overlay overlay-scale">
        <nav class="sp-nav">
          <ul>
            <li><a href="./">TOP</a></li>
            <li><a href="about.html">ABOUT US</a></li>
            <li><a href="service.html">SERVICE</a></li>
            <li><a href="works.html">WORKS</a></li>
            <li><a href="contact.html">CONTACT</a></li>
          </ul>
        </nav>
      </div>
      <div class="sp-nav-btn-block"><a class="sp-nav-btn" href="#"><span class="sp-nav-btn-icon"></span></a></div>
      <header class="header header-fixed">
        <div class="section-inner header-inner">
          <h1 class="header-logo"><a href="./"><img src="img/header-logomark.svg" alt="株式会社クラヴィス CLANWEISS"></a></h1>
          <nav class="g-nav">
            <ul>
              <li><a href="about.html">ABOUT US</a></li>
              <li><a href="service.html">SERVICE</a></li>
              <li><a href="works.html">WORKS</a></li>
              <li><a href="contact.html">CONTACT</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <header class="header anim-fade-in">
        <div class="section-inner header-inner">
          <h1 class="header-logo"><a href="./"><img class="img" src="img/header-logo.svg" alt="株式会社クラヴィス CLANWEISS"></a></h1>
          <nav class="g-nav">
            <ul>
              <li><a href="about.html">ABOUT US</a></li>
              <li><a href="service.html">SERVICE</a></li>
              <li><a href="works.html">WORKS</a></li>
              <li><a href="contact.html">CONTACT</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <main>
        <section class="page-visual visual-works">
          <div class="page-ttl-wrap">
            <h2 class="page-ttl">WORKS</h2>
            <h2 class="page-subttl">制作実績</h2>
          </div>
        </section>
        <section class="section section-page">
          <div class="section-inner">
            <p>この他にも実績がございますのでCONTACTからお気軽にお問い合わせください。</p>
          </div>
        </section>
        <section class="section section-bg-light">
          <div class="section-inner">
            <ul class="works-list">
              <li class="works-item"><a href="work01.html">
                  <div class="works-item-img"><img src="img/works-item03.jpg"></div>
                  <div class="works-item-data">
                    <h3 class="works-item-caption">株式会社インストーリー 様</h3><span>Direction / Design / Coding</span>
                  </div></a></li>
              <li class="works-item"><a href="work02.html">
                  <div class="works-item-img"><img src="img/works-item02.jpg"></div>
                  <div class="works-item-data">
                    <h3 class="works-item-caption">株式会社アイディエーション 様</h3><span>Design</span>
                  </div></a></li>
              <li class="works-item"><a href="work03.html">
                  <div class="works-item-img"><img src="img/works-item01.jpg"></div>
                  <div class="works-item-data">
                    <h3 class="works-item-caption">ディアンドデパートメント株式会社 様</h3><span>Direction / Coding</span>
                  </div></a></li>
              <li class="works-item"><a href="work04.html">
                  <div class="works-item-img"><img src="img/works-item04.jpg"></div>
                  <div class="works-item-data">
                    <h3 class="works-item-caption">株式会社NTTデータ・イントラマートCSI 様</h3><span>Design / Coding / CMS</span>
                  </div></a></li>
            </ul>
          </div>
        </section>
      </main>
      <footer class="footer">
        <div class="section-inner footer-inner">
          <div class="footer-logo"><img src="img/footer-logo.svg"></div>
          <dl>
            <dt class="footer-company-name">株式会社クラヴィス</dt>
            <dd class="footer-company-addr">〒060-0001 札幌市中央区北1条西7丁目 あおいビル 7F<br>TEL 011-211-5440
              <div class="footer-sns"><a class="fb" href="https://www.facebook.com/%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE%E3%82%AF%E3%83%A9%E3%83%B4%E3%82%A3%E3%82%B9-539014726301635/"><img src="img/icon-fb.svg"></a></div>
            </dd>
          </dl><a class="pagetop" href="#"><img src="img/arrow-top.svg"></a>
          <p class="copyright">&copy; CLANWEISS Co Ltd,All Right Reserved.</p>
        </div>
      </footer>
    </div>
    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
    <script src="js/common.js"></script>
  </body>
</html>
