app/pug/work03.pug
extends _layout
block var
  - metas = {}
  - metas.title = 'ディアンドデパートメント株式会社 | 制作実績 | 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社'
block append meta
  +meta(metas)
  include _inc_meta_fb
  +inc_meta_facebook(metas)
block title
  title ディアンドデパートメント株式会社 | 制作実績 | 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社
block body
  main
    section.works-detail-visual
      .bg-works-detail.bg-detail03
        .mock-works-detail
          img.fluid-img(src="img/works-detail03_00.jpg")
    section.section
      .section-inner
        .works-detail-container
          h2 D&amp;DEPARTMENT
          .work-category.category01 WEB DEVELOPMENT
          .work-role
            span Direction
            span Coding
          .work-client
            | Client
            h3 ディアンドデパートメント株式会社 様
            a(href="http://www.d-department.com/" target="_blank") http://www.d-department.com/
          .work-desc-text
            span.border
            p
              | コーポレートサイトのリニューアルにおいて、クライアント側で作成したデザインをベースに、Webレイアウトの調整、HTMLコーディング、CMSの組み込み対応を行いました。
              br
              | またコンテンツとして、各店舗が展開するFacebookページの更新情報を集約表示しお気に入りの記事をHTML5で保存できる機能を開発、提供しました。
          img.fluid-img.work-img(src="img/works-detail03_01.jpg")
          img.fluid-img.work-img(src="img/works-detail03_02.jpg")
          .work-nav
            a.nav-arrow-btn.nav-arrow-left(href="work02.html")
            a.index-btn(href="works.html") INDEX
            a.nav-arrow-btn.nav-arrow-right(href="work04.html")
block append end_of_body
  script(src="js/works-detail.js")

app/work03.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="株式会社クラヴィスは、それぞれ得意分野を持つメンバー達が集まって立ち上げた札幌の会社です。さまざまなスキルを持ったメンバーが、クライアントの様々な課題解決に取り組み、最適なソリューションをワンストップで提供します。">
        <meta name="keywords" content="clanweiss,クラヴィス,EC-CUBE,CMS,札幌">
        <meta name="author" content="">
        <meta property="og:title" content="ディアンドデパートメント株式会社 | 制作実績 | 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://clanweiss.co.jp/">
        <meta property="og:image" content="https://clanweiss.co.jp/img/og-img.png">
        <meta property="og:site_name" content="株式会社クラヴィス">
        <meta property="og:description" content="株式会社クラヴィスは、それぞれ得意分野を持つメンバー達が集まって立ち上げた札幌の会社です。さまざまなスキルを持ったメンバーが、クライアントの様々な課題解決に取り組み、最適なソリューションをワンストップで提供します。">
        <meta property="fb:app_id" content="任意のID">
    <title>ディアンドデパートメント株式会社 | 制作実績 | 株式会社クラヴィス 北海道札幌のWEB制作会社・システム開発会社</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/favicon.ico">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-59943088-1', 'auto');
        ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div class="loader">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    <div class="wrapper">
      <div class="overlay overlay-scale">
        <nav class="sp-nav">
          <ul>
            <li><a href="./">TOP</a></li>
            <li><a href="about.html">ABOUT US</a></li>
            <li><a href="service.html">SERVICE</a></li>
            <li><a href="works.html">WORKS</a></li>
            <li><a href="contact.html">CONTACT</a></li>
          </ul>
        </nav>
      </div>
      <div class="sp-nav-btn-block"><a class="sp-nav-btn" href="#"><span class="sp-nav-btn-icon"></span></a></div>
      <header class="header header-fixed">
        <div class="section-inner header-inner">
          <h1 class="header-logo"><a href="./"><img src="img/header-logomark.svg" alt="株式会社クラヴィス CLANWEISS"></a></h1>
          <nav class="g-nav">
            <ul>
              <li><a href="about.html">ABOUT US</a></li>
              <li><a href="service.html">SERVICE</a></li>
              <li><a href="works.html">WORKS</a></li>
              <li><a href="contact.html">CONTACT</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <header class="header anim-fade-in">
        <div class="section-inner header-inner">
          <h1 class="header-logo"><a href="./"><img class="img" src="img/header-logo.svg" alt="株式会社クラヴィス CLANWEISS"></a></h1>
          <nav class="g-nav">
            <ul>
              <li><a href="about.html">ABOUT US</a></li>
              <li><a href="service.html">SERVICE</a></li>
              <li><a href="works.html">WORKS</a></li>
              <li><a href="contact.html">CONTACT</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <main>
        <section class="works-detail-visual">
          <div class="bg-works-detail bg-detail03">
            <div class="mock-works-detail"><img class="fluid-img" src="img/works-detail03_00.jpg"></div>
          </div>
        </section>
        <section class="section">
          <div class="section-inner">
            <div class="works-detail-container">
              <h2>D&amp;DEPARTMENT</h2>
              <div class="work-category category01">WEB DEVELOPMENT</div>
              <div class="work-role"><span>Direction</span><span>Coding</span></div>
              <div class="work-client">Client
                <h3>ディアンドデパートメント株式会社 様</h3><a href="http://www.d-department.com/" target="_blank">http://www.d-department.com/</a>
              </div>
              <div class="work-desc-text"><span class="border"></span>
                <p>コーポレートサイトのリニューアルにおいて、クライアント側で作成したデザインをベースに、Webレイアウトの調整、HTMLコーディング、CMSの組み込み対応を行いました。<br>またコンテンツとして、各店舗が展開するFacebookページの更新情報を集約表示しお気に入りの記事をHTML5で保存できる機能を開発、提供しました。</p>
              </div><img class="fluid-img work-img" src="img/works-detail03_01.jpg"><img class="fluid-img work-img" src="img/works-detail03_02.jpg">
              <div class="work-nav"><a class="nav-arrow-btn nav-arrow-left" href="work02.html"></a><a class="index-btn" href="works.html">INDEX</a><a class="nav-arrow-btn nav-arrow-right" href="work04.html"></a></div>
            </div>
          </div>
        </section>
      </main>
      <footer class="footer">
        <div class="section-inner footer-inner">
          <div class="footer-logo"><img src="img/footer-logo.svg"></div>
          <dl>
            <dt class="footer-company-name">株式会社クラヴィス</dt>
            <dd class="footer-company-addr">〒060-0001 札幌市中央区北1条西7丁目 あおいビル 7F<br>TEL 011-211-5440
              <div class="footer-sns"><a class="fb" href="https://www.facebook.com/%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE%E3%82%AF%E3%83%A9%E3%83%B4%E3%82%A3%E3%82%B9-539014726301635/"><img src="img/icon-fb.svg"></a></div>
            </dd>
          </dl><a class="pagetop" href="#"><img src="img/arrow-top.svg"></a>
          <p class="copyright">&copy; CLANWEISS Co Ltd,All Right Reserved.</p>
        </div>
      </footer>
    </div>
    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/works-detail.js"></script>
  </body>
</html>
